---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Nov 11 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		TBD...
	</p>

	
</Layout>
